@media only screen and (max-width: 600px) {
    nav ul {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    nav ul {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    nav ul {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    nav ul {
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
    #container {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
    footer {
        display: none;
    }
}

@media screen and (min-width: 100px) and (max-width: 812px) and (orientation: landscape) {
    html {
        background-image: url(../images/unnamed.png);
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        background-color: gainsboro;
        margin: auto auto auto auto;
    }
}