body {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#bg-color {
    background-color: #212529;
}

#nav-2 {
    .center-1 {
        text-align: center;
    }
}

#about {
    padding: 9% 14%;
    color: #f7f9fc;
    p {
        font-size: 17px;
        font-family: "PT Sans", sans-serif;
    }
    h2 {
        font-family: "Lora", serif;
    }
}

#abou-main {
    .pr-img {
        right: 52px;
        img {
            width: 320px;
            height: 320px;
            border-radius: 50%;
        }
    }
}

#list {
    ul {
        li {
            list-style-type: none;
        }
    }
}

.name-center {
    text-align: center;
}

#myProgress {
    width: 50%;
    background-color: #ddd;
    #myBar {
        width: 10%;
        height: 9px;
        background-color: #4caf50;
        text-align: center;
        line-height: 30px;
        color: white;
    }
}